<h2>Dashboard</h2>

<!-- All Groups Section -->
<div>
  <h3>All Groups</h3>
  <ul *ngIf="allGroups.length > 0">
    <li *ngFor="let group of allGroups">
      <div>
        {{ group.name }}
        <!-- Disable the button if the group is already in userGroups -->
        <button
          (click)="sendJoinRequest(group.id)"
          [disabled]="isGroupInUserGroups(group.id)"
        >
          Send Join Request
        </button>
      </div>
    </li>
  </ul>
  <div *ngIf="allGroups.length === 0">No groups available.</div>
</div>

<!-- Your Groups Section -->
<div>
  <h3>Your Groups and Channels</h3>
  <ul *ngIf="userGroups.length > 0">
    <li *ngFor="let group of userGroups">
      <div
        class="group-item"
        [ngClass]="{ 'selected-group': selectedGroup === group.id }"
        (click)="selectGroup(group.id)"
      >
        {{ group.name }}
      </div>
      <ul *ngIf="selectedGroup === group.id">
        <button (click)="leaveGroup(group.id)">Leave Group</button>
        <li
          *ngFor="let channel of group.channels"
          class="channel-item"
          [ngClass]="{ 'selected-channel': selectedChannel === channel.id }"
          (click)="selectChannel(channel.id)"
        >
          {{ channel.name }}
        </li>
      </ul>
    </li>
  </ul>
  <div *ngIf="userGroups.length === 0">No groups joined yet.</div>
</div>

<!-- Chat Functionality -->
<h2 *ngIf="selectedChannel">Chat</h2>
<div *ngIf="selectedChannel">
  <div *ngFor="let msg of messages">
    <p>{{ msg }}</p>
  </div>
  <input [(ngModel)]="message" placeholder="Type your message here..." />
  <button (click)="sendMessage()">Send</button>
</div>

<!-- User Actions -->
<h2>User Actions</h2>
<div>
  <button (click)="logout()">Logout</button>
  <button (click)="deleteAccount()">Delete Account</button>
</div>

<!-- Group Actions -->
<h2>Group Actions</h2>
<div>
  <input [(ngModel)]="groupName" placeholder="Group Name" />
  <button (click)="registerInterest(groupName)">Register Interest</button>
</div>

<div>
  <button (click)="joinChannel(1, 1)">Join Channel 1 in Group 1</button>
</div>
